# Google Analytics 4 Measurement ID
# Get this from https://analytics.google.com
# Format: G-XXXXXXXXXX
REACT_APP_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Make.com Webhook URLs
# Newsletter signup webhook
REACT_APP_WEBHOOK_NEWSLETTER=https://hook.eu2.make.com/exwtidtmqhvpffne6izk9ivix5n9iayw

# Consultation form webhook
REACT_APP_WEBHOOK_CONSULTATION=https://hook.eu2.make.com/dhfcqp3i2138v8xjm35wuoy9yoly56uk
